---
layout: default
title: Crownicles - Conditions d'utilisation
---
{% include smallWaves.html %}
<section class="mediumMargin paddingWave">
    <div class="container" style="margin-bottom: 175px;">
        <div>
            <h2>Conditions d'utilisation</h2>
            <p>En consultant ce site web, accessible depuis https://crownicles.com/ ou notre bot discord, vous acceptez
                les Conditions
                Générales d'Utilisation suivantes, et vous acceptez d'être responsable de l'application de toute loi
                locale applicable. Si vous êtes en désaccord avec ces conditions, l'accès à ce site ou au bot vous est
                prohibé.
                Les matériaux contenus dans ce site web sont protégés par les lois de copyright et trademark.</p>
            <h2>Licence</h2>
            <p>Toutes les licences au sujet du contenu publié par notre équipe sont disponibles sur les dépôts GitHub
                des projets respectifs : <a href="https://github.com/crownicles">Lier à votre compte GitHub</a>
            </p>
            <h2>Clause de non-responsabilité</h2>
            <p>Tous les matériaux sur le site de Crownicles sont fournis "tel quel". Crownicles ne présente aucunes
                garanties, qu'elles soient exprimées ou sous-entendues. De plus, Crownicles ne garantit aucunement la
                précision ou la fiabilité de l'utilisation de tout matériel sur le site internet, ou de tout autre
                projet lié au site.</p>
            <h2>Limitations</h2>
            <p>Crownicles ou ses fournisseurs ne peuvent aucunement être tenus pour responsables d'un quelconque dommage
                causant une inaptitude à utiliser le site de Crownicles, même dans le cas éventuel où Crownicles ou l'un des
                représentants de ce site internet a été averti, par écrit ou oralement de la possibilité de tels
                dommages. Certaines juridictions interdisent les limitations sur les garanties implicites ou les
                restrictions de responsabilité pour les dommages accidentels, ces limitations ne peuvent donc pas
                s'appliquer à vous.</p>
            <h2>Utilisation</h2>
            <p>L'utilisation du site internet du bot, du serveur Discord, ou d'un quelconque autre matériel officiel est
                possible tant qu'elle respecte les règlements établis sur le serveur Discord officiel. Toute activité
                de triche ou de nuisance à autrui est strictement prohibée.</p>
            <h2>Revisions et Errata</h2>
            <p>Les matériaux apparaissant sur le site de Crownicles sont susceptibles de contenir des erreurs techniques,
                typographiques, ou photographiques. Crownicles ne promet aucunement que l'intégralité des matériaux
                disponibles sur ce site internet sont fiables, complets ou actualisés. Crownicles se réserve le droit de
                modifier les matériaux contenus sur son site internet n'importe quand sans préavis. Crownicles ne fait
                aucun engagement concernant la mise à jour de ces matériaux.</p>
            <h2>Liens</h2>
            <p>Crownicles n'a pas examiné l'ensemble des sites internet contenant un lien vers son site, et n'est
                aucunement responsable pour les contenus proposés par tout autre site contenant ce type de lien. La
                présence de lien n'implique aucun endorsement par Crownicles de ce site. L'utilisation d'autres sites
                proposant ce type de lien est réalisée aux propres risques des utilisateurs.</p>
            <h2>Modification des Conditions d'Utilisation du site</h2>
            <p>Crownicles se réserve le droit de revoir ces Conditions Générales d'Utilisation pour son site internet sans
                aucun préavis. En utilisant ce site, vous acceptez la conformité de votre utilisation avec la version
                actuelle des conditions d'utilisation. En cas de différence entre la version anglaise et française de ce
                document, la version française prévaut.</p>
            <h2>Votre vie privée</h2>
            <p>Merci de consulter notre <a href="https://crownicles.com/confidentialite">Politique de Confidentialité</a>.
            </p>
            <h2>Loi applicable</h2>
            <p>Toute réclamation concernant le site de Crownicles est gouvernée par les lois françaises, quelque soit les
                conflits juridiques.</p>
        </div>
    </div>

    {% include footerwave.html %}
</section>
