# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependency directories
node_modules/
vendor/

# Mac OS files
.DS_Store

# Log files
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
