<footer id="footer" class="smallPadding">
    <div class="container">
        <p class="copyright center">
            <var id="year">{{ site.time | date: '%Y' }}</var> © Crownicles.
            Special thanks to
            <a href="https://behance.net/mw3y" rel="noopener" target="_blank">MΛX</a>, icons from
            <a href="https://icons8.com" rel="noopener" target="_blank">icons8.com</a> &
            background by <a
                href='https://www.freepik.com/free-vector/medieval-castle-interior-flat-cartoon-composition-with-king-throne-armed-knight-coat-arms-guard_6845842.htm'>macrovector
            -
            fr.freepik.com</a>
        </p>
    </div>
    <p class="copyright center">
        Read about how respectful of your privacy we are here : <a
            href="{{ '/privacy/' | relative_url }}">https://crownicles.com/privacy</a>
    </p>
</footer>
