<div class="waves" height="175px">
  <svg viewBox="0 0 1440 175" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path fill="#23272a" d="
      M0 67
      C 273,183
      822,0
      1440.00,106
      V 359
      H 0
      V 67
      Z">
      <animate repeatCount="indefinite" fill="#23272a" attributeName="d" dur="35s" attributeType="XML"
               values="
      M0 67
      C 473,283
      822,0
      1440,116
      V 359
      H 0
      V 67
      Z;
      M0 67
      C 473,0
      1222,283
      1440,67
      V 359
      H 0
      V 67
      Z;
      M0 67
      C 973,260
      1722,0
      1440,120
      V 359
      H 0
      V 67
      Z;
      M0 67
      C 473,283
      822,0
      1440,116
      V 359
      H 0
      V 67
      Z
        ">
      </animate>
    </path>
  </svg>
</div>

