<header>
    <a class="logo" href="{{ '/' | relative_url }}"><img src="{{ '/public/ressources/banner-min.png' | relative_url }}" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a rel="noopener" target="_blank" href="https://guide.crownicles.com">About</a></li>
            <li><a href="#add">Add the bot to your server</a></li>
            <li><a rel="noopener" href="{{ '/donate/' | relative_url }}">Donate</a></li>
            <li><a rel="noopener" target="_blank" href="https://github.com/Crownicles/Crownicles">Github</a></li>
            <li><a rel="noopener" target="_blank" href="https://history.crownicles.com">History</a></li>
            <li><a rel="noopener" target="_blank" href="https://discord.com/invite/5JqrMtZ">I need help</a></li>
        </ul>
    </nav>
    <div class="menu">
        <p class="button buttonWhite buttonSmall bold">Menu</p>
    </div>
</header>

<div class="overlay">
    <a class="close" href="#close" aria-label="Close menu">&times;</a>
    <div class="overlay__content">
        <ul>
            <li><a rel="noopener" target="_blank" href="https://guide.crownicles.com">About</a></li>
            <li><a href="#add">Add the bot to your server</a></li>
            <li><a rel="noopener" href="{{ '/donate/' | relative_url }}">Donate</a></li>
            <li><a rel="noopener" target="_blank" href="https://github.com/Crownicles/Crownicles">Github</a></li>
            <li><a rel="noopener" target="_blank" href="https://history.crownicles.com">History</a></li>
            <li><a rel="noopener" target="_blank" href="https://discord.com/invite/5JqrMtZ">I need help</a></li>
        </ul>
    </div>
</div>
