<div class="smallMargin smallWaves">
    <svg viewBox="0 0 1440 150" width="100%" height="175" preserveAspectRatio="none" fill="none" version="1.1"
         xmlns="http://www.w3.org/2000/svg">
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#fff"/>
        </linearGradient>
        <path fill="url(#grad1)" d="
                    M0 67
                    C 273,183
                    822,0
                    1440.00,106
                    V 359
                    H 0
                    V 67
                    Z">
        </path>
    </svg>
</div>

