---
layout: default
title: Crownicles - Donate
---
{% include smallWaves.html %}

<section class="mediumMargin" id="help-us">
    <div class="container" data-aos="fade-up" data-aos-duration="700">
        <div class="div-1">
            <img alt="server" src="{{ '/public/ressources/21103.jpg' | relative_url }}" class="longScreen pc-content">
        </div>
        <div class="div-2">
            <div class="description">
                <h2 class="title">
                    Help us run Crownicles!
                </h2>
                <div class="text">
                    We will use your money <b>only for Crownicles</b>.
                    Our expenses include paying for the hosting of the bot, the website and potential services
                    necessary to work on the bot.
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mediumMargin" id="receive-perks">
    <div class="container" data-aos="fade-up" data-aos-duration="700">
        <div class="div-1">
            <div class="description">
                <h2 class="title">
                    Receive cool stuff back!
                </h2>
                <div class="text">
                    With the support role you know the content of the next update before everyone else. You can also
                    have a cool badge displayed under your profile or even receive a sticker!
                    <a href="https://discord.com/channels/429765017332613120/1170425060864032812"
                       target="_blank" rel="noopener" class="button buttonGrey buttonLarge buttonUse"><i
                            class="fas fa-info buttonIcon"></i>Check out the perks in discord</a>
                </div>
            </div>
        </div>
        <div class="div-2">
            <img alt="server" src="{{ '/public/ressources/goodies.png' | relative_url }}" class="longScreen pc-content">
        </div>
    </div>
</section>


<section class="mediumMargin">
    <div data-aos="fade-up" data-aos-duration="700">
        <div class="cardLine">
            <div class="cardContainer">
                <article class="card">
                    <div class="thumb one"></div>
                    <div class="infos">
                        <h2 class="title">🙏 Acknowledgement</h2>
                        <h3 class="date">5€</h3>
                        <h3 class="seats">Perks :</h3>
                        <p class="txt">
                            - Donator badge
                        </p>
                        <p class="txt">
                            - Donator role</p>
                        <a target="_blanks" href="https://www.paypal.com/paypalme/bastlast/5">
                            <p class="donationButton button buttonGrey buttonSmall bold">Make a donation</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="cardContainer">
                <article class="card">
                    <div class="thumb two"></div>
                    <div class="infos">
                        <h2 class="title">🎉 Recognition</h2>
                        <h3 class="date">10€</h3>
                        <h3 class="seats">Perks :</h3>
                        <p class="txt">
                            - Donator badge
                        </p>
                        <p class="txt">
                            - Donator role
                        </p>
                        <p class="txt">
                            - Name a new item
                        </p>
                        <a target="_blanks" href="https://www.paypal.com/paypalme/bastlast/10">
                            <p class="donationButton button buttonGrey buttonSmall bold">Make a donation</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="cardContainer">
                <article class="card">
                    <div class="thumb three"></div>
                    <div class="infos">
                        <h2 class="title">🤗 Support</h2>
                        <h3 class="date">15€</h3>
                        <h3 class="seats">Perks :</h3>
                        <p class="txt">
                            - Perks from the 🎉 Recognition tier
                        </p>
                        <p class="txt">
                            - Classic sticker pack ( 2 stickers )
                        </p>
                        <a target="_blanks" href="https://www.paypal.com/paypalme/bastlast/15">
                            <p class="donationButton button buttonGrey buttonSmall bold">Make a donation</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="cardLine">
            <div class="cardContainer">
                <article class="card">
                    <div class="thumb four"></div>
                    <div class="infos">
                        <h2 class="title">📢 Ambassador</h2>
                        <h3 class="date">25€</h3>
                        <h3 class="seats">Perks :</h3>
                        <p class="txt">
                            - Perks from the 🎉 Recognition tier
                        </p>
                        <p class="txt">
                            - Premium sticker pack ( 3 stickers )
                        </p>
                        <p class="txt">
                            - 1 badge
                        </p>
                        <a target="_blanks" href="https://www.paypal.com/paypalme/bastlast/25">
                            <p class="donationButton button buttonGrey buttonSmall bold">Make a donation</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="cardContainer">
                <article class="card">
                    <div class="thumb five"></div>
                    <div class="infos">
                        <h2 class="title">💎 Premium Supporter</h2>
                        <h3 class="date">35€</h3>
                        <h3 class="seats">Perks :</h3>
                        <p class="txt">
                            - Perks from the 🎉 Recognition tier
                        </p>
                        <p class="txt">
                            - Deluxe sticker pack ( 5 stickers )
                        </p>
                        <p class="txt">
                            - 1 badge
                        </p>
                        <p class="txt">
                            - Crownicles keyring OR magnet
                        </p>
                        <a target="_blanks" href="https://www.paypal.com/paypalme/bastlast/35">
                            <p class="donationButton button buttonGrey buttonSmall bold">Make a donation</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="cardContainer">
                <article class="card">
                    <div class="thumb six"></div>
                    <div class="infos">
                        <h2 class="title">💥 Give me everything</h2>
                        <h3 class="date">50€</h3>
                        <h3 class="seats">Perks :</h3>
                        <p class="txt">
                            - Perks from the 🎉 Recognition tier
                        </p>
                        <p class="txt">
                            - 1 Huge sticker pack ( 8 stickers )
                        </p>
                        <p class="txt">
                            - 2 badges
                        </p>
                        <p class="txt">
                            - 1 Crownicles keyring & 1 magnet
                        </p>
                        <a target="_blanks" href="https://www.paypal.com/paypalme/bastlast/50">
                            <p class="donationButton button buttonGrey buttonSmall bold">Make a donation</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <section id="open-source" class="mediumMargin paddingWave">
        <div class="container" data-aos="fade-up" data-aos-duration="700">
            <div class="div-1">
                <div class="description">
                    <h2 class="title">
                        You don't like paypal?
                    </h2>
                    <div class="text">
                        You can also support Crownicles on Github! The perks are the same as through Paypal!
                        <a href="https://github.com/sponsors/BastLast"
                           target="_blank" rel="noopener" class="button buttonGrey buttonLarge buttonUse"><i
                                class="fas fa-coins buttonIcon"></i>Make a donation on github</a>
                    </div>
                </div>
            </div>
            <div class="div-2">
                <img alt="Github logo" src="{{ '/public/ressources/github-min.png' | relative_url }}" class="question pc-content">
            </div>
        </div>
    </section>

    {% include footerwave.html %}
</section>
