---
layout: default
title: Crownicles - GitHub
permalink: /github/
redirect_to: https://github.com/Crownicles/Crownicles
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}">
    <link rel="canonical" href="{{ page.redirect_to }}"/>
    <title>Redirecting to {{ page.redirect_to }}</title>
    {% include head.html %}
</head>

<body>
<p>If you are not redirected automatically, follow this <a href='{{ page.redirect_to }}'>link to the Crownicles GitHub</a>.</p>
{% include scripts.html %}
</body>

</html>